.movie-lists {
    padding: 15px;
    margin-top: 20px;
}

.movie-lists-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.movie-lists__title {
    font-size: 26px;
    color: #FFFFFF;
    font-weight: 700;
}

.movie-lists__button {
    border: 2px solid #FFFFFF;
    padding: 10px 30px;
    border-radius: 20px;

    &:hover {
        background: rgb(#000000, 0.5);
    }
}

@media (max-width: 600px) {
    
    .movie-lists-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .movie-lists__title {
        margin-bottom: 15px;
    }
}