.genres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.genres__list {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px;
}

.genres__button {
    margin: 15px 0;
    padding: 10px 40px;
    border: 2px solid #E44F4F;
    border-radius: 20px;
    position: relative;

    &:hover {
        background-color: rgb(#E44F4F, 0.5);
    }

    &:active {
        bottom: -1px;
    }
}