.genres__title {
    font-size: 36px;
    color: #FFFFFF;
    text-align: center;
    margin: 20px 0;
}

.genres__list {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px;
}

.genres__button {
    margin: 15px 0;
    padding: 10px 40px;
    border: 2px solid #E44F4F;
    border-radius: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    &:hover {
        background-color: rgb(#E44F4F, 0.5);
    }

    &:active {
        bottom: -1px;
    }
}

.genres__items {
    padding: 0 15px;
    margin: 15px 0;

    .swiper-slide {
        width: 20%;
    }
}

.genre__name {
    display: block;
    padding: 10px 0;
    border: 2px solid #E44F4F;
    text-align: center;
    border-radius: 20px;
    color: #FFFFFF;
    font-size: 20px;

    &:hover {
        background-color: rgb(#E44F4F, 0.5);
    }
}

.genre__name--active {
    background-color: rgb(#E44F4F, 0.5);
}

@media (max-width: 1250px) {

    .genres__items {

        .swiper-slide {
            width: 25%;
        }
    }

    .genre__name {
        font-size: 18px;
    }
}

@media (max-width: 1000px) {

    .genres__list {
        justify-content: center;
    }

    .genres__items {

        .swiper-slide {
            width: 30%;
        }
    }

    .genre__name {
        font-size: 16px;
    }
}

@media (max-width: 700px) {

    .genres__items {

        .swiper-slide {
            width: 40%;
        }
    }
}

@media (max-width: 550px) {

    .genres__items {

        .swiper-slide {
            width: 55%;
        }
    }
}

@media (max-width: 425px) {

    .genres__items {

        .swiper-slide {
            width: 65%;
        }
    }
}