.movie-info {
    min-height: 100vh;
    width: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 15px 50px;

    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgb(#000000, 0.5);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.movie-info__overview {
    margin-bottom: 0;
}

.movie-info__genres {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}

.movie-info__genre {
    padding: 8px 20px;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 10px;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        border-color: #E44F4F;
        background-color: rgb(#E44F4F, 0.5);
    }
}