.detail {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
    padding: 100px 15px 50px;
    color: #FFFFFF;
    position: relative;

    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        background: rgb(#000000, 0.5);
        z-index: 1;
    }
}

.detail-inner {
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.detail__poster {
    margin-right: 15px;

    img {
        border-radius: 20px;
    }
}

.detail__title {
    font-size: 30px;
    margin-bottom: 15px;
}

.detail__list-genres {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.detail__list-genre {
    padding: 5px 10px;
    border: 2px solid #FFFFFF;
    margin-right: 5px;
    border-radius: 20px;
    margin-bottom: 15px;

    &:last-child {
        margin-right: 0;
    }
}

.detail__overview {
    font-size: 20px;
    max-width: 600px;
}

.person {
    height: 500px;
    padding: 15px;

    .swiper-slide {
        width: 15%;
    }
}

.person__title {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 30px;
    color: #FFFFFF;
    margin-bottom: 10px;
    text-align: center;

    span {
        font-size: 18px;
        margin-left: 10px;
    }
}

.person__img {
    width: 200px;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
}

.person__img-none {
    background-color: rgb(#000000, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        fill: #9B9B9B;
    }
}

.person__name {
    margin-top: 10px;
    width: 200px;
    color: #FFFFFF;
    font-size: 22px;
    text-align: center;
}

.person__text {
    width: 200px;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
}

.trailer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.trailer__video {
    margin-top: 15px;
    border-radius: 20px;
    width: 100%;
    height: 800px;
}

.trailer__title {
    font-size: 30px;
    color: #FFFFFF;
    text-align: center;
}

.similar {
    padding: 15px;

    .swiper-slide {
        width: 20%;
    }
}

.similar__item-img {

    img {
        border-radius: 20px;
    }
}

.similar__title {
    font-size: 30px;
    color: #FFFFFF;
    margin-bottom: 15px;
    text-align: center;
    font-weight: 700;
}

.overlay {
    position: fixed;
    height: 100vh;
    width: 100%;
    background: #292D32;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: 0.5s;
}

.preloader {
    display: block;
    position: relative;
    width: 150px;
    height: 150px;
    margin: 30px auto;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #337AB7;
    animation: preloader-5-spin 2s linear infinite;

    &:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #BFE2FF;
        animation: preloader-5-spin 3s linear infinite;
    }

    &:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #337AB7;
        animation: preloader-5-spin 1.5s linear infinite;
    }
}

@keyframes preloader-5-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}